.boardPage {
  &__taskContainers {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-y: auto;
  }

  &__error {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    color: var(--text-warning);
  }
}
