.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.form__deleteButton {
  border: none;
  outline: none;
  height: 47px;
  background: none;
  color: var(--red-0);
}
