.widgetNew {
  position: relative;
  padding: 20px;

  &__message {
    margin-bottom: 20px;
    padding-right: 20px;

    line-height: 24px;
    letter-spacing: 0.16px;
  }

  &__closeIcon {
    position: absolute;
    top: 14px;
    right: 16px;
    
    background: none;
    border: none;
  }
}
