.pageHeader {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
}
